<div class="card">
  <div class="card-icon">ICON</div>
  <div class="card-header">
    <h2 class="name">{{ project().name }}</h2>
    <h3 class="status">{{ project().status }}</h3>
    <h3 class="version">{{ project().version }}</h3>
  </div>
  <div class="card-summary">
    SUMMARY
    <p class="summary">{{ project().content.summary }}</p>
  </div>
  <div class="card-drop-down">Drop</div>
  <!-- Drop Down -->

  <div class="card-extra">
    <p class="features extra-box">{{ project().content.features }}</p>
    <p class="stack extra-box">{{ project().content.stack }}</p>
    <p class="upcoming extra-box">{{ project().content.upcoming }}</p>
  </div>
</div>
