<div class="card">
  <div class="card-header">
    <h2 class="name">{{ project().name }}</h2>
    <h3 class="status">{{ project().status }}</h3>
    <h3 class="version">{{ project().version }}</h3>
  </div>
  <div class="card-summary">
    <p class="summary">{{ project().content.summary }}</p>
  </div>
  <!-- Drop Down -->
  <div class="card-extra">
    <p class="features">{{ project().content.features }}</p>
    <p class="stack">{{ project().content.stack }}</p>
    <p class="upcoming">{{ project().content.upcoming }}</p>
  </div>
</div>
